<div class="services px-3">
  <small class="text-uppercase">What I do ?</small>
  <h5 class="my-3 text-uppercase">HERE ARE SOME OF MY EXPERTISE</h5>
  <div class="row mt-5">
    <div class="col-md-4">
        <div class="card text-center mb-3" >
            <div class="card-body">
              <h5 class="card-title">INNOVATIVE IDEAS</h5>
              <p class="card-text">Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
              
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center mb-3" >
            <div class="card-body">
              <h5 class="card-title">SOFTWARE</h5>
              <p class="card-text">Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
              
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center mb-3" >
            <div class="card-body">
              <h5 class="card-title">APPLICATION</h5>
              <p class="card-text">Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
              
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center mb-3" >
            <div class="card-body">
              <h5 class="card-title">GRAPHIC DESIGN</h5>
              <p class="card-text">Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
              
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center mb-3" >
            <div class="card-body">
              <h5 class="card-title">SOFTWARE</h5>
              <p class="card-text">Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
              
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center mb-3" >
            <div class="card-body">
              <h5 class="card-title">APPLICATION</h5>
              <p class="card-text">Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
              
            </div>
          </div>
    </div>
  </div>
</div>
