<div class="about px-3">
  <small class="text-uppercase">About us</small>
  <h5 class="my-3 text-uppercase">Who Am I ?</h5>
  <div class="decsription text-capitalize">
    <p class="pt-5 pb-3">
      <span class="fw-bold">Hi I'm Jackson Ford </span> On her way she met a copy. The copy
      warned the Little Blind Text, that where it came from it would have been
      rewritten a thousand times and everything that was left from its origin
      would be the word "and" and the Little Blind Text should turn around and
      return to its own, safe country.
    </p>
    <p>
      Even the all-powerful Pointing has no control about the blind texts it is
      an almost unorthographic life One day however a small line of blind text
      by the name of Lorem Ipsum decided to leave for the far World of Grammar.
    </p>
  </div>
  <div class="row">
    <div class="col-md-3">
        <div class="card text-center mb-3" >
            <div class="card-body">
              <h5 class="card-title">Graphic Design</h5>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center mb-3" >
            <div class="card-body">
              <h5 class="card-title">web design</h5>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center mb-3" >
            <div class="card-body">
              <h5 class="card-title">Software</h5>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center mb-3" >
            <div class="card-body">
              <h5 class="card-title">Application</h5>
            </div>
          </div>
    </div>
  </div>
  <div class="yellow p-4 my-5">
    <p>I am happy to know you <br>that 300+ projects done sucessfully!</p>
    <button class="btn"> Hire Me</button>
  </div>
</div>
