<nav class="py-5 px-5">
    <div class="img m-auto">
        <img src="https://cdn.pixabay.com/photo/2019/07/13/02/25/man-4333898_1280.jpg" alt="">
    </div>
    <div class="info my-5 text-center">
        <h3>Elsayed Mostafa</h3>
        <p>Front-End Developer</p>
    </div>
    <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home" [routerLinkActive]="'nav-active'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" [routerLinkActive]="'nav-active'">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/services" [routerLinkActive]="'nav-active'">services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/skills" [routerLinkActive]="'nav-active'">skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/education" [routerLinkActive]="'nav-active'">education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/experience" [routerLinkActive]="'nav-active'">experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/work" [routerLinkActive]="'nav-active'">work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog" [routerLinkActive]="'nav-active'">blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" [routerLinkActive]="'nav-active'">contact</a>
          </li>
      </ul>
</nav>